@use "./mixins" as *;
@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-weight: 400;
}

a,
li {
  text-decoration: none;
}

//////////////* HEADER *//////////////

header {
  // display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #323232;
  position: sticky;
  justify-content: center;
  padding-top: 1rem;
}

///////////* NAVIGATION BAR *//////////
.navigation {
  text-align: center;

  @include tablet {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 2.5rem;
  }
  @include desktop {
    margin-left: 7rem;
  }
  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__logo {
    color: white;
    margin-bottom: 0.75rem;

    @include tablet {
      margin: 0;
      margin-right: 4rem;
    }
  }

  //////////* NAVIGATION ITEMS */////////

  &__item {
    list-style-type: none;
    font-size: 15px;
    line-height: 32px;
    color: white;
    width: 50%;

    &:hover {
      border-bottom: 4px solid white;
    }

    @include tablet {
      margin: 1rem;
      margin-right: 2.3rem;
    }

    &--active {
      border-bottom: 4px solid white;
      font-weight: 600;
      width: 100%;

      @include tablet {
        width: 60%;
      }
    }
  }
}

/////////////* FOOTER *//////////////

.footer {
  width: 100%;
  background-color: #323232;
  color: white;
  padding-left: 1rem;

  @include tablet {
    margin-top: 2rem;
    padding-top: 2rem;
  }

  ///////////////* "Get in Touch!" and SOCIAL MEDIA ICONS */////////////
  &__socials-container {
    @include tablet {
      display: flex;
      margin-bottom: 3rem;

      align-items: center;
    }
  }
  &__title {
    margin: 1rem;
    padding-top: 3rem;

    @include tablet {
      padding: 0;
    }
    @include desktop {
      padding-left: 5rem;
    }
  }

  &__logo-container {
    display: flex;
    gap: 2rem;
    margin: 1rem;
    @include desktop {
      padding-left: 5rem;
    }
  }

  &__icon {
    height: 1.44rem;
  }
}
//////////////* FOOTER CONTACTS /////////////

.footer__contacts-container {
  margin: 1rem;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-bottom: 4rem;
    align-items: center;
  }

  @include desktop {
    padding-bottom: 4rem;
    justify-content: space-around;
    padding-right: 6rem;
  }
}

.footer__contact-company {
  margin-bottom: 2rem;
}
.footer__contact-name {
  font-weight: 600;
  width: 15ch;
  margin-top: 2rem;
}
.footer__contact-line2 {
  font-weight: 600;
  margin-bottom: 1rem;
  width: 20ch;
  margin-top: 0.5rem;
}
.footer__contact-address {
  margin-bottom: 2rem;
  width: 22ch;
}
.footer__contact-email {
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: white;
}

////////////////* LOGO *//////////////////////
.footer__logo {
  margin-bottom: 1rem;
  margin-top: 4rem;
  margin-left: 1rem;
  @include tablet {
    position: absolute;
    top: 3rem;
    right: 3rem;
    margin: 0;
  }
}
/////////////////* COPYRIGHT */////////////////////
.footer__copyright {
  margin-left: 1rem;
  @include tablet {
    padding-bottom: 2rem;
  }
  @include desktop {
    margin-left: 6rem;
  }
}
