@use "./mixins" as*;
@use "./variables" as*;


* {
    margin: 0;
    padding: 0;
    font-family: 'Avenir';
    font-weight: 400;
}

//HEADER

header {
    // display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #323232;
    position:sticky;
    justify-content: center;

    padding-top: 1rem;

}
    

.navigation {
    text-align: center;
    @include tablet {
        display: flex;
        align-items: center;
        padding: 0;
        margin-left: 1rem;
    }



    &__list {
        display: flex;
    }
    
    


    
    &__logo {
        color: white;
        margin-bottom: .75rem;
        @include tablet {
            margin: 0;
            margin-right: 4rem;
        }
    }



    &__item {
        list-style-type: none;
        font-size: 15px;
        line-height: 32px;
        color: white;
        width:50%;
        &:hover {
            border-bottom: 4px solid white;

        }
        @include tablet {
            margin:1rem;
            margin-right: 2.3rem;

        }
        &--active{
            border-bottom: 4px solid white;
            font-weight: 600;
           
        }

    }
}





//FOOTER

.footer {

    width: 100%;
    background-color: #323232;
    color: white;
    // font-size: 13px;

    &__title {
        margin: 1rem;
        padding-top:3rem;
        
        


    }
     

    &__logo-container{
        display: flex;
        gap: 2rem;
        margin: 1rem;
    }

    &__icon {
        height: 2.5rem;

    }


    
    &__contacts-container
    {
        margin: 1rem;
    }
    
    &__contact-name{
        font-weight: 600;
        margin-bottom: 1rem;
        
    }
    &__contact-company {
        margin-bottom: .5rem;
    }
    &__contact-address {
        margin-bottom: .5rem;
        width: 22ch;
    }
    &__contact-email {
        margin-bottom: .5rem;
    }
    &__logo {
        margin-bottom: 1rem;
        margin-top: 4rem;
        margin-left: 1rem;

    }
    &__copyright {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}



