


* {
    margin: 0;
    font-family: 'Avenir';
    font-weight: 400;
}

//HEADER

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #323232;
    position:sticky;
    justify-content: center;
    padding-top:1rem;
    


    &__container {
    display: flex;
    justify-content: center; 
    


    }
    &__logo {
        color: white;
        margin-bottom: .75rem;
    }


    &__nav-bar { 
        display: flex;
        margin: 0px;
        

    }
    &__nav-container {
        display: flex;
        width: 100%;
        padding: 0%;
        justify-content: space-around;
        

    }
    &__nav-items {
        list-style-type: none;
        text-align: center;
        font-size: 15px;
        line-height: 32px;
        color: white;
        justify-content:space-between;
        width:100%;
        &:hover {
            border-bottom: 4px solid white;
        }
        &--active{
            border-bottom: 4px solid white;
            font-weight: 600;
        }
    }
}




//FOOTER

.footer {

    width: 100%;
    background-color: #323232;
    color: white;
    // font-size: 13px;

    &__title {
        margin: 1rem;
        padding-top:3rem;
        
        


    }
     

    &__logo-container{
        display: flex;
        gap: 2rem;
        margin: 1rem;
    }

    &__icon {
        height: 2.5rem;

    }


    // &__contacts-container{
    // }
    
        

    
    &__contact-name{
        font-weight: 600;
        margin-bottom: 1rem;
        
    }
    &__contact-company {
        margin-bottom: .5rem;
    }
    &__contact-address {
        margin-bottom: .5rem;
        width: 22ch;
    }
    &__contact-email {
        margin-bottom: .5rem;
    }
}

