* {
  margin: 0;
  font-family: "Avenir";
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #323232;
  position: sticky;
  justify-content: center;
  padding-top: 1rem;
}
.header__container {
  display: flex;
  justify-content: center;
}
.header__logo {
  color: white;
  margin-bottom: 0.75rem;
}
.header__nav-bar {
  display: flex;
  margin: 0px;
}
.header__nav-container {
  display: flex;
  width: 100%;
  padding: 0%;
  justify-content: space-around;
}
.header__nav-items {
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  line-height: 32px;
  color: white;
  justify-content: space-between;
  width: 100%;
}
.header__nav-items:hover {
  border-bottom: 4px solid white;
}
.header__nav-items--active {
  border-bottom: 4px solid white;
  font-weight: 600;
}

.footer {
  width: 100%;
  background-color: #323232;
  color: white;
}
.footer__title {
  margin: 1rem;
  padding-top: 3rem;
}
.footer__logo-container {
  display: flex;
  gap: 2rem;
  margin: 1rem;
}
.footer__icon {
  height: 2.5rem;
}
.footer__contact-name {
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer__contact-company {
  margin-bottom: 0.5rem;
}
.footer__contact-address {
  margin-bottom: 0.5rem;
  width: 22ch;
}
.footer__contact-email {
  margin-bottom: 0.5rem;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/Fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
.hero {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../assets/Images/hero-bio.jpg");
  width: 100%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  align-items: center;
}
.hero__header {
  padding-left: 16px;
  color: white;
  font-weight: 600;
}

.about-container {
  margin: 0 1rem;
}
.about-container__header {
  margin: 1.5rem 1rem 1.5rem 1rem;
  font-weight: 600;
}
.about-container__img {
  width: 100%;
}
.about-container__subheader {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 17px;
  line-height: 1.5rem;
}
.about-container__subheader-quote {
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 17px;
  line-height: 1.5rem;
}
.about-container__band {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.about-container__bio {
  margin-bottom: 1rem;
}

.gallery-header {
  padding-left: 1rem;
}

.gallery-container {
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.gallery-container__img {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery-container__img {
    width: 29%;
    padding: 0.5rem;
    margin-top: 0;
  }
}/*# sourceMappingURL=bio.css.map */