@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

.hero {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("/assets/Images/Photo-gallery-3.jpg");
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  align-items: center;

  @include tablet {
    height: 80vh;
    font-size: 4rem;
    // padding-left: 7rem;
  }
  &__subheader {
    padding-left: 16px;
    color: white;
    font-weight: 600;
  }
  &__miniheader {
    color: white;
    position: absolute;
    top: 7rem;
  }
}

.iframe {
  width: 70%;
  height: 5rem;
}
